ul {
    border: solid black;
    background-color: crimson;
    
    padding-left: 500px;

}
li {
    display: inline;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
img {
    padding-left: 500px;
}
h1 {

    padding-left: 500px;

}